
    <h3>Welcome to the beginning of nothingness.</h3>
    <form id="myForm" action="http://127.0.0.1:3000" method="POST">
        <p>
            <label for="name">Enter a Todo</label>:
            <input type="text" name="title" id="todo">
        </p>
        <input type="submit" value="submit">
    </form>
    <ul>
        {{#each todos}}
        <li>
            {{title}}
        </li>
        {{/each}}​ ​
    </ul>
