<!DOCTYPE html>
<html>

<head>
    <title>Input</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
    <h3>Welcome to the beginning of nothingness.</h3>
</body>

</html>